@model CinemaCore.Models.ListEvents

@{
    ViewData["Title"] = "Создание записи";
}

<div class="row">
    <div class="col-md-4">
        <h3>Добавление события</h3>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <select asp-for="FilmId" class="form-control" asp-items="ViewBag.FilmId"></select>
                <label asp-for="FilmId" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Date" class="form-control" />
                <label asp-for="Date" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="StartTime" class="form-control" />
                <label asp-for="StartTime" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="EndTime" class="form-control" />
                <label asp-for="EndTime" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input name="TicketPrice" @*asp-for="TicketPrice"*@ class="form-control" />
                <label asp-for="TicketPrice" class="control-label"></label>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="CinemaHallId" class="form-control" asp-items="ViewBag.CinemaHallId"></select>
                <label asp-for="CinemaHallId" class="control-label"></label>
            </div>
            <div class="form-floating">
                <input type="submit" value="Создать" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Вернуться назад</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
