@model CinemaCore.Models.CinemaHalls

@{
    ViewData["Title"] = "Измнение";
}

<div class="row">
    <div class="col-md-4">
        <h4>Залы</h4>
        <hr />
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input asp-for="HallNumber" class="form-control" />
                <label asp-for="HallNumber" class="control-label"></label>
            </div>
            <div class="form-group">
                <input asp-for="Columns" class="form-control" />
                <label asp-for="Columns" class="control-label"></label>  
            </div>
            <div class="form-group">
                <input asp-for="Rows" class="form-control" />
                <label asp-for="Rows" class="control-label"></label>  
            </div>
            <div class="form-floating">
                <input type="submit" value="Сохранить" class="btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Назад</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

